DATABASE_URL=postgresql://postgres:9739185@localhost:5432/seniorvital
OLLAMA_URL=http://localhost:11434

OLLAMA_MODEL=phi3:mini

OLLAMA_TIMEOUT=600
JWT_SECRET=8z7fXpQ2vL9kM3nR6tY1wE4bH5jK9lA0cVbN7mQ2wE8r
VAPID_PUBLIC_KEY=8OSrNeJu9DZtgTHqWzGW4b_nQMRb7ynOQu2ZefodOyQ
VAPID_PRIVATE_KEY=FWV3fQDOanmciEgmivMjN2w7lEHNLPpVPtGmizdYdIY
VAPID_CLAIM_EMAIL=abdenagonahmens@gmail.com
